.container-footer {
    background-color: rgba(18, 32, 60, 1);
    height: 600px;
    color: white;
    margin-top: 130px;
}

.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-footer__blocktwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.container-footer__blockone {
    display: flex;
    justify-self: center;
    align-self: center;
}

.cochialicon {
    margin-top: 10px;
}

@media screen and (max-width: 750px) {
    .container-footer {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding-top: 50px;
    }

    .container-footer__blocktwo {
        margin-top: 100px;
    }
}