.container-allpack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 116px;
    padding-right: 100px;
    /* max-width: 1140px; */
    padding-top: 50px;
}

@media screen and (max-width:650px) {
    .container-allpack {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media screen and (max-width:1023px) {
    .container-allpack {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}

.MostPopular {
    padding-left: 116px;
}

.redbutton {
    background-color: rgba(139, 46, 0, 1);
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    width: 145px;
    height: 50px;
}

.button-push {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.button-push__redbutton {
    background-color: rgba(139, 46, 0, 1);
    color: honeydew;
    padding: 10px;
    font-weight: bold;
    border:none;
}

.button-push__redbutton:hover {
    background-color: rgba(18, 32, 60, 1);
}