
@media screen and (min-width:600px){
    
    .fresh-farms__header{
        position: absolute;
    width: 409px;
    height: 120px;
    left: 6%;
    top: 7%;
    
    }
    .container__header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
    
    .header-shop{
        font-weight: bolder;
        position: absolute;
    width: 40px;
    height: 20px;
    left: 35%;
    top: 14%;
    
    }
    .header-story{
        font-weight: bolder;
        position: absolute;
    width: 73px;
    height: 20px;
    left: 45%;
    top: 14%;
    
    }
    .header-find{
        font-weight: bolder;
        position: absolute;
    width: 79px;
    height: 20px;
    left: 55%;
    top: 14%;
    
    }
    .header-contact{
        font-weight: bolder;
        position: absolute;
    width: 68px;
    height: 18px;
    left: 65%;
    top: 14%;
    }
    .lences-icon{
        position: absolute;
    width: 28px;
    height: 26.98px;
    left: 84%;
    top: 14%;
    
    }
    .shopping-icon{
        position: absolute;
    left: 87%;
    top: 14%;
    
    }
    .menu-icon{
        position: absolute;
    width: 34px;
    height: 21px;
    left: 90%;
    top: 14%;
    
    }
}
@media screen and (max-width:599px){
    .header-shop{
display: none;
    }
    .header-story{
display: none;
    }
    .header-find{
display: none;
    }
    .header-contact{
display: none;
    }
    .lences-icon{
        position: absolute;
    width: 28px;
    height: 26.98px;
    left: 80%;
    top: 14%;
    
    }
    .shopping-icon{
        position: absolute;
    left: 87%;
    top: 14%;
    
    }
    .menu-icon{
        position: absolute;
    width: 34px;
    height: 21px;
    left: 95%;
    top: 14%;
    
    }
}