.body {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 70%;
}

.our-story,
.our-founder {
  font-family: "Roboto Condensed", sans-serif, Arial;
  font-style: normal;
  font-weight: 700;
}

.our-story {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #000000;
  height: 76px;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-top: 380px;
  margin-left: 150px;
}

.container-for-our-founder {
  position: relative;
  width: 692px;
  height: 684px;
  grid-column: 2/3;
  grid-row: 1/2;
  left: 120px;
}

.our-founder {
  position: absolute;
  width: 735px;
  height: 450px;
  font-size: 28px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #000000;
  color: #ffffff;
  background-color: #12203c;
  padding-top: 59px;
  padding-left: 65px;
  padding-right: 55px;
  padding-bottom: 63px;
  right: -138px;
  top: 380px;
  align-content: center;
}

.child-background-photo {
  display: flex;
  grid-column: 1/3;
  grid-row: 2/3;
}

.imgchild {
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .imgchild,
  .our-story {
    display: none;
  }
  .our-founder {
    right: -25px;
  }
}
